header {
  padding: 6px 0;
  background: #fff;

  box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 46px;
  height: 49px;
}

.list {
  display: flex;
  list-style: none;
  gap: 24px;
}

.listItem {
  font-family: Karla;
  font-size: 18px;
  font-weight: 700;
}
